body {
	background: url('bg.jpg') no-repeat;
	background-size: cover;
	color: #fff;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
}

label, input, table{
	display: block;
}

table {
	background-color: rgba(255, 255, 255, 0.8);
	color: #000;
	border-radius: 5px;
	text-align: center;
}

td {
	width: 140px;

}

td:first-child {
	width: 50px;
}

.group1, .group2 {
	display: none;
}

.hide {
	display: none;
}

.show {
	display: block;
}

.title {
	font-weight: bold;
	font-size: 55px;
}

label {
	text-align: center;
	font-size: 15px;
	color: lightgray;
	font-style: italic;
}

input{
	margin: 0 auto;
	margin-bottom: 10px;
	border: none;
	border-radius: 3px;
	height: 30px;
	width: 230px;
	padding-left: 10px;
}

.button {
	margin-top: 30px;
	width: 100px;
}